/*
///
!!SELECTIVE STYLE NULLING
///
*/

/* Removing the underscore and blue color of all links */
a {
  color: inherit;
  text-decoration: none;
}

/* Specify box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove standard styling for all ul and il that have a class attribute*/
ul[class],
ol[class] {
  list-style: none;
}

/* Inherit fonts for intuitions and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Simplifying work with images */
img {
  max-width: 100%;
  display: block;
}

/* Remove internal indentation */
ul,
ol {
  padding: 0;
}

/* Remove the outside indentation */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/*
///
!!VARIABLES
///
*/

:root {
  --global-background-color: #E5E5E5;

  --main-text-color: #0D606F;
  --main-background-color: #FFFFFF;
  /* FOR TEXT UNDER CUBS  */
  --main-decoration-color: #F2785C;
  /* FOR CUBS AND PLACEHOLDES */

  --second-text-color: #FFFFFF;
  --second-background-color: #F2785CB2;
  /* FOR NAV BLOCK */
  --second-decoration-color: #0D606F80;
  /* FOR SHADOW UNDER NAV BLOCK AND SHADOW UNDER STORIES IMAGES */

  --third-text-color: #F2785C80;
  /* FOR UNCURRENT TABS */
  --third-background-color: #0D606F;
  /* FOR BLUE BUTTONS */

  --fours-background-color: #FFFFFFB2;
  /* FOR BLOCK STORIES */
}

/*
///
!!GLOBAL_STYLES
///
*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Aleo", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--main-text-color);


  background-color: var(--global-background-color);
}

/*
///
!!HEADER
///
*/


/*
///
!!MAIN
///
*/


/*
///
!FOOTER
///
*/